@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #11151E;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #014b96;
  }

body {
    background: linear-gradient(145deg, #0d1018, #0b0e14);
    background-color: #11151E;
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    color:#ffffff!important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Francois One', sans-serif;
    color:#ffffff!important;
}
  .nav-glass{/* From https://css.glass */
    background: #11151E80;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(10.2px);
    -webkit-backdrop-filter: blur(10.2px);
}
.nav-link.active {
  background-color: none !important;
    color: #fff;
}
main{
    /* From https://css.glass */
background: #222c365c;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.2px);
-webkit-backdrop-filter: blur(10.2px);
}
.min-vh-80 {
    min-height: 80vh !important;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}


  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide-img {
    display: block;
    width: 100%;
  }

  
  .swiper-slides {
    height: 300px;
  
    line-height: 300px;
    text-align: center;
  }
  

  .card {
    
    border-radius: 25px;
background: linear-gradient(145deg, #1f2536, #0b0e14);
box-shadow:  6px 6px 18px #30333d,
             -6px -6px 18px #212a3a;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  /* button */

  .button-66 {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }
  
  .button-66:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
  }
  
  @media (min-width: 768px) {
    .button-66 {
      padding: 16px 44px;
      min-width: 150px;
    }
  }
 
  /* end */
  .price {
    color: grey;
    font-size: 22px;
  }
  .card-body{padding: 0em !important;}
  .card button {
    background-color: #0a6bff;
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .scrollx{height: 80vh;overflow-y: scroll;}